/*
  This solution is strongly opinionated as I have been a web developer for quite a few years now.
  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}

/* Variables */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}

/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

h2 {
  margin-bottom: 1rem;
}

fieldset {
  padding: 1rem;
  border: 1px solid var(--border-color);
}

fieldset:not(:last-child) {
  margin-bottom: 1rem;
}

label, input, button {
  display: block;
}

label {
  margin-bottom: .5rem;
  color: var(--gray-color);
}

input, button {
  padding: 0 .5rem;
  line-height: 2rem;
}

input:not(:last-child),
button:not(:last-child) {
  margin-bottom: 1rem;
}

input[type="submit"],
button {
  display: block;
  appearance: none;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  transition: .15s background-color;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: var(--border-color);
}

/* Header Component */

.header {
  width: 100%;
  padding: 3rem;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__image {
  width: 3rem;
}

/* Main Component */

.main {
  width: 100%;
  padding: 3rem;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex: 1;
}

/* Tagging component */

.tagging {
  width: calc(25% - 1rem);
}

.tagging input {
  width: min(12rem, 100%);
}

/* Discovery component */

.discovery {
  width: calc(75% - 1rem);
}

.discovery__search input {
  width: min(12rem, 100%);
}

.discovery__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.discovery__taglist {
  width: calc(33.3333% - 1rem);
}

.discovery__map {
  width: calc(66.6666% - 1rem);
}

.discovery__map img {
  width: 100%;
}

.discovery__map span {
  display: block;
  color: var(--gray-color);
}

.discovery__results {
  list-style-type: none;
}

.discovery__results li {
  padding: 1rem .75rem;
  background-color: var(--background-color);
  color: var(--link-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.discovery__results li:not(:first-child) {
  margin-top: 1rem;
}

.discovery__clear {
  display: none;
}

.discovery__clear.discovery__clear--active {
  display: block;
}

/* Footer Component */

.footer {
  padding: 3rem;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
}

/* Media Queries */

@media only screen and (max-width: 900px) {
  .main {
    flex-direction: column;
  }

  .tagging,
  .discovery,
  .discovery__taglist,
  .discovery__map {
    width: 100%;
  }

  .discovery,
  .discovery__map {
    margin-top: 2rem;
  }

  .discovery__wrapper {
    flex-direction: column;
  }

  .header {
    flex-wrap: wrap;
  }

  .header__navigation {
    flex-basis: 100%;
    margin-top: 1rem;
    text-align: right;
  }
}